.hero-bottom-box-text .event {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 30px;
}

.event_starts .hero-bottom-box {
    margin-top: -100;
}

.event_starts .section-box {
    padding: 0 70px;
}

    .hero-bottom-box .top {
        margin-top: 70px;
        padding-top: 100px;
        border-top-left-radius: 54px;
    }

        .hero-bottom-box .section-box img {
            /* width: 100px; */
            padding: 0px 10px;
        }

        .red-blue-boxes {
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            justify-content: center;
            margin-top: -155px;
            padding: 0 70px;
            list-style: none;
        }

            .red-box,
            .blue-box {
                position: relative;
                text-align: center;
                max-width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
            }

                .red-box span, 
                .blue-box span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 60px;
                    color: var(--color-white);
                    font-weight: bold;
                }

                    .red-box-span {
                        display: flex;
                        justify-content: center;
                        color: var(--color-chalk-blue);
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: var(--font-size-medium-to-small);
                        font-family: 'Titillium-Web', sans-serif;
                        padding-top: 10px;
                    }

    .event_starts .heading {
        margin-top: 30px;
    }
    
        .event_starts .sub-heading {
            margin: auto;
            margin-bottom: 30px;
        }

            .hero-bottom-box p {
                font-size: var(--font-size-medium);
            }
    
.race_2023 h2 {
    text-align: center;
    margin: auto;
}

.section-box-listing .getsetgo img {
    display: block;
    width: 30%;
    margin: 20px auto 0 auto;
    padding-bottom: 0;
}

.race_2023 button {
    display: flex;
    align-items: center;
    width: 307px;
    height: 62px;
    margin: 0px auto 100px auto;
}

.section-box-listing .image,
.programme .image {
    width: 5%;
    padding: 0;
}

.programme a {
    width: 430px;
    height: 62px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    font-size: var(--font-size-medium);
    font-family: 'Titillium-Web', sans-serif;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
}

@media only screen and (max-width: 450px) {

    .one .event_starts{
        padding-bottom: 0;
    }

    .event_starts .hero-bottom-box-text {
        padding: 0;
    }

    .event_starts .hero-bottom-box-text h2 {
        margin-bottom: 150px;
    }

    .event_starts .section-box {
        padding: 0 30px;
    }

        .hero-bottom-box .top {
            padding-top: 100px;
        }

        .red-blue-boxes {
            padding: 0 30px;
            margin-top: -230px;
        }

            .red-box,
            .blue-box {
                width: 90px;
                height: 27px;
            }

                .red-box span, 
                .blue-box span {
                    font-size: 30.3px;
                    width: 51px;
                    height: 31px;
                }

                    .red-box-span {
                        margin-top: 20px;
                        font-size: var(--font-size-small);
                        padding-top: 10px;
                    }

        .event_starts .heading {
            padding: 100px 0px 0 0px;
        }

        .race_2023 h2 {
            text-align: center;
            margin: 70px auto 0 auto;
        }

            .section-box-listing .getsetgo img {
                display: block;
                width: 100%;
                margin: 20px auto 0 auto;
                padding: 0 30px;
            }

}