.triangle-down {
    margin-top: -100px;
}

.join_2023 .heading {
    margin-top: 50px;
}

.join_2023 .three-boxes {
    padding-bottom: 0;
}

.prog_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

    .prog_button .racer {
        width: 273px;
        height: 62px;
        margin-left: 165px;
    }

        .prog_button .racer img {
            width: 7%;
        }
        
    .prog_button .manager {
        width: 373px;
        height: 62px;
    }

.join_2023 .highlights {
    display: none;
}

@media only screen and (max-width: 450px) {
    .join_2023 .three-boxes {
        margin: auto;
        width: 400px;
        padding: 0 20px;
    }

    .prog_button {
        display: none;
    }

    .join_2023 .highlights {
        display: block;
        width: 340px;
        height: 48px;
        margin: auto;
        padding: 0 20px;
    }
    
    .join_2023 .highlights a {
        font-size: var(--font-size-extra-small);
    }
}
