.prog .active {
    background-color: #e1e6f1;
}

.prog .horizontal-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1160px;
    height: 570px;
    margin: 20px 0;
    /* padding: 70px; */
    border-radius: 54px;
    background-color: #e1e6f1;
    gap: 30px;
}

    .prog ul .horizontal-box div {
        justify-content: unset;
    }

    .prog .horizontal-box img {
        width: 385px;
        height: 385px;
        margin-top: 54px;
        /* padding: 0 30px; */
    }

    .prog .horizontal-box-left {
        display: flex;
        padding: 70px 0px;
        flex-direction: column;
        width: 50%;
    }

        .horizontal-box-left .top {
            display: flex;
            flex-direction: column;
            font-size: var(--font-size-large);
            font-family: 'Titillium-Web', sans-serif;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.22;
            letter-spacing: normal;
            margin-bottom: 10px;
        }

        .prog .horizontal-box-left p {
            position: none;
            font-size: var(--font-size-medium-to-small);
            font-family: 'Titillium';
            text-transform: none;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
        }

        .prog .horizontal-box-left .bottom {
            display: flex;
            flex-direction: column;
            font-size: var(--font-size-small);
            font-family: 'Titillium';
            text-transform: none;
            margin-top: 20px;
        }

            .bottom .bold {
                font-weight: bold;
            }


@media only screen and (max-width:450px){

    .program h2 {
        margin-bottom: 50px;
    }
    .prog .section-box {
        margin: 15px 30px 15px 40px;
    }

    .prog .horizontal-box {
        flex-direction: column;
        width: 340px;
        height: 780px;
        position: relative;
        margin: 15px 30px 15px 40px;
    }

        .prog .horizontal-box-right img {
            width: 280px;
            height: 280px;
            margin: auto;
            margin-bottom: 10px;
        }

        .prog .horizontal-box-left {
            padding: 0;
            width: unset;
        }

        .horizontal-box-left .top {
            position: absolute;
            top: 15px;
        }

            .prog .horizontal-box-middle p {
                margin-top: 70px;
            }
}


/* .prog .horizontal-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1160px;
    height: 570px;
    margin: 20px 0;
    border-radius: 54px;
    background-color: #e1e6f1;
    gap: 30px;
} */