.sponsorship {
    margin: auto;
    width: 100%;
    padding: 70px 70px;
}

    .sponsorship p {
        color: var(--color-chalk-blue);
        font-size: var(--font-size-medium);
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 25px;
    }

.why-sponsor {
    padding: 0px 0px 0px 0px;
}

    .why-sponsor-background {
        background-image: url(../../img/bitmap.png);
        background-size: cover;
        width: 100%;
        height: 900px;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

        .why-sponsor-background .section-box {
            width: 100%;
            height: 479px;
            padding: 0 30px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 30px;
            background-color: var(--color-red);
            margin: auto;
        }

            .why-sponsor .section-box p {
                padding-top: 50px;
                padding-bottom: 50px;
                font-weight: normal;
            }

.expectations {
    width: auto;
    height: auto;
    margin-top: 100px;
    padding-top: 50px;
}

    /* .expectations .three-boxes {
        margin-bottom: 50px;
    } */
.testemonials {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
}
.horizontal-boxes li {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

    .horizontal-boxes li img {
        width: 50%;
        border-top-left-radius: 30px;
    }

    .horizontal-boxes .text {
        margin: auto;
        width: 40%;
        color: var(--color-dark-blue);
        line-height: 20px;
        padding: 60px ;
    }
    
        .horizontal-boxes p {
            font-size: var(--font-size-medium);
            font-family: 'Titillium';
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: normal;
            padding-bottom: 30px;
        }

        .horizontal-boxes .text .name {
            font-size: var(--font-size-small);
            font-family: 'Titillium';
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            font-weight: bold;
        }

        .horizontal-boxes .text span {
            font-size: var(--font-size-small);
        }

