.sponsorship {
    margin: auto;
    width: 100%;
    padding: 70px 70px 0 70px;
}

.sponsorship h2 {
    margin-top: 30px;
}

    .sponsorship p {
        color: var(--color-chalk-blue);
        font-size: var(--font-size-extra-large);
        font-family: 'Titillium-Web', sans-serif;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 25px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: normal;
    }

.why-sponsor {
    padding: 0px 0px 0px 0px;
}

    .why-sponsor-background {
        background-image: url(../../img/bitmap.png);
        background-size: cover;
        width: 100%;
        height: 900px;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

        .why-sponsor-background .section-box {
            width: 100%;
            height: 479px;
            padding: 0 30px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 30px;
            background-color: var(--color-red);
            margin: auto;
        }

            .why-sponsor-background .section-box p {
                padding-top: 50px;
                padding-bottom: 50px;
                font-weight: normal;
            }

.expectations {
    width: auto;
    height: auto;
    margin-top: 100px;
    padding-top: 50px;
}

    .sponsor .three-boxes .three-boxes-box h3 {
        padding: 0 30px;
        width: auto;
        height: auto;
    }

    .sponsor .three-boxes {
        padding: 0 50px;
    }
    .sponsor .three-boxes-box {
        width: 340px;
        height: 400px;
    }
    
    .sponsor .three-boxes .para-wrap {
        height: 200px;
    }

.testemonials {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
}

.why-sponsor .triangle-down {
    display: none;
}

@media only screen and (max-width: 450px) {

    .sponsorship h2 {
        width: 340px;
        margin-top: 0;
    }
    .sponsorship p {
        width: 340px;
        margin: none;
        padding-bottom: 70px;
        padding-top: 34px;
        padding-right: 20px;
        font-size: var(--font-size-medium);
    }

    .sponsorship {
        padding-bottom: 0;
    }

    .sponsors {
        padding-bottom: 0;
    }

    .why-sponsor .section-box-listing {
        margin-top: 0;
    }

        .listing-background-grey {
            background-color: var(--color-light-background);
        }

    .why-sponsor-background {
        background-image: none;
        background: var(--color-light-background);
        height: auto;
        margin-bottom: 0;
    }

        .why-sponsor-background .section-box {
            width: 100%;
            height: auto;
            padding: 0 30px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 30px;
            background-color: var(--color-red);
            margin: 0;
            padding-bottom: 100px;
            margin-bottom: 100px;
        }

        .why-sponsor-background .width-container {
            padding: 0;
        }

        .why-sponsor .triangle-down {
            display: flex;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-top: 30px solid var(--color-white);
            margin: 0px auto;
            margin-top: -105px;
            padding-bottom: 100px;
        }
}
