.header-button {
    background-color: transparent;
    border: 2px solid var(--color-white);
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header-button img {
    width: 10%;
    margin-right: 10px;
}

.header-button{
    text-decoration: none;
    margin: 0 5px;
    color: var(--color-white);
    font-size: var(--font-size-small);
    font-family: 'Titillium-Web', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    padding: 14px 21px 10px 20px;
}

.header-button-red {
    border: 2px solid var(--color-red);
    padding: 20px 15px 20px 15px;
    height: 62px;
    width: 320px;
    border-top-left-radius: 15.6px;
    border-bottom-right-radius: 15.6px;
    background-color: var(--color-red);
    cursor: pointer;
}

    .header-button-red a{
        color: var(--color-white);
        font-size: var(--font-size-medium);
        font-family: 'Titillium-Web',sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
    }

    .header-button-red img {
        width: 7%;
        margin-right: 10px;
    }

    /* .video-button {
        border: 2px solid var(--color-red);
        width: 75px;
        height: 72px;
        padding: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: var(--color-red);
        cursor: pointer;
        margin: 270px auto;
    }

    .video-button img {
        width: 60%;
    } */

.header-button-blue {
    background-color: var(--color-dark-blue);
    border: 2px solid var(--color-dark-blue);
    padding: 7px;
    border-top-left-radius: 15.6px;
    border-bottom-right-radius: 15.6px;
    width: 15%;
    margin: 40px 70px;
}

    .header-button-blue {
        color: var(--color-white);
        font-size: var(--font-size-medium);
        font-family: 'Titillium-Web', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        width: 258px;
        height: 62px;
    }

    .header-button-blue img {
        margin-right: 10px;
    }

.header-button-blue-two {
    background-color: var(--color-dark-blue);
    border: 2px solid var(--color-dark-blue);
    padding: 7px;
    border-top-left-radius: 15.6px;
    border-bottom-right-radius: 15.6px;
}

    .header-button-blue-two {
        color: var(--color-white);
        font-size: var(--font-size-medium);
        font-family: 'Titillium-Web', sans-serif;
        text-decoration: none;
        font-weight: bold;
        width: 303px;
        height: 24px;
        margin: 70px 70px;
    }

    .header-button-blue-two img {
        margin-right: 10px;
    }

    .why-sponsor-background .button-blue {
    background-color: var(--color-dark-blue);
    border: 2px solid var(--color-dark-blue);
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 30%;
    margin-left: 70px;
}

    .why-sponsor-background .button-blue a {
        color: var(--color-white);
        font-size: var(--font-size-extra-extra-small);
        font-family: 'Titillium-Web', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
    }

    .why-sponsor-background .button-blue img {
        width: 15px;
        height: 10px;
    }

.form .button {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 450px) {

    .header-button-blue {
        width: 340px;
        height: 48px;
        margin: 50px auto;
    }

        .header-button-blue a {
            align-items: center;
        }

        .header-button-blue img {
            width: unset;
        }

    .header-button-blue-two {
        padding: 7px;
        width: 320px;
        margin: 40px auto;
    }
    
        .header-button-blue-two {
            font-size: var(--font-size-medium-to-small);
            margin: auto;
        }
    
        .header-button-blue-two img {
            width: unset;
        }

    .why-sponsor-background .button-blue {
        padding: 15px;
        width: 340px;
        height: 48px;
        margin: auto;
}

    .why-sponsor-background .button-blue a {
        font-size: var(--font-size-small);
        font-family: 'Titillium-Web', sans-serif;
        margin: auto;
        align-items: center;
    }

    .why-sponsor-background .button-blue img {
        width: unset;
    }

    .form .button {
        margin: 70px auto;
        width: 280px;
        height: 48px;
    }

        .form button a {
            font-size: var(--font-size-medium-to-small);
        }
}