.heading {
    color: var(--color-chalk-blue);
    font-size: var(--font-size-extra-large);
    font-family: 'Titillium-Web', sans-serif;
    font-weight: bold;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    padding: 100px 70px;
    padding-bottom: 30px
}

.heading::before {
    content: '';
    display: block;
    height: 3px;
    width: 50px;
    bottom: 25px;
    left: 0;
    position: relative;
}

    .heading h3 {
        padding-top: 10px;
    }

    .heading span {
        display: block;
        height: 3px;
        width: 50px;
        background: var(--color-reddish);
        position: relative;
        top: -20px;
    }

.heading-red span {
    background: var(--color-white);
}

/* .red span {
    background: var(--color-white);
} */

.sub-heading {
    color: var(--color-chalk-blue);
    font-size: var(--font-size-large);
    font-family: 'Titillium-Web', sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    padding: 0px 70px;
    padding-bottom: 100px;
}

.sub-heading-faq {
    margin: auto;
    color: var(--color-chalk-blue);
    padding: 20px 70px;
    font-size: var(--font-size-medium-to-small);
    font-family: 'Titillium-Web', sans-serif;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    margin-top: 10px;
}

    .heading-red {
        color: var(--color-white);
    }

    .red .sub-heading {
        padding-bottom: 0;
    }

.why-sponsor .red {
        color: var(--color-white);
        font-size: var(--font-size-medium);
        font-family: 'Titillium-Web', sans-serif;
        padding: 20px 70px;
    }

.form .heading,
.expectations .heading {
    padding-top: 70px;
}

h2 {
    color: var(--color-dark-blue);
    font-size: var(--font-size-extra-large);
    font-family: 'Titillium-Web', sans-serif;
    font-weight: bold;
    width: 487px;
    height: 42px;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.88;
    letter-spacing: normal;
    /* margin: 50px 672.1px 37px 0; */
}

.event_starts .heading {
    padding-top: 70px;
}

@media only screen and (max-width: 450px) {
    h2 {
        width: 340px;
    }

    .heading {
        padding: 100px 0px;
        padding-bottom: 30px
    }

    .sub-heading {
        padding: 0px 0px;
        padding-bottom: 70px;
        font-size: 18px;
        line-height: 1.56;

    }
    
    .white .heading,
    .past-events .heading,
    .testemonials .heading,
    .join_2023 .heading {
        padding: 100px 60px 50px 60px;
    }

    .agenda .heading {
        padding: 70px 70px 50px 70px;
    }

    .white .sub-heading,
    .past-events .sub-heading,
    .agenda .sub-heading,
    .join_2023 .sub-heading {
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 70px;
    }

    .partners .heading {
        padding: 30px 70px;
        padding-top: 100px;
    }

    .sub-heading-faq {
        margin: 0;
        padding: 0px;
        margin-top: 10px;
    }
}