section {
    padding: 100px 70px;
    position: relative;
    background: var(--color-light-background);
}

    section .width-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

.white {
    background: var(--color-white);
    position: relative;
    padding-bottom: 100px;
    margin-top: 0;
    padding-top: 0;
}

.form-white {
    background: var(--color-white);
    position: relative;
    margin: auto;
    padding-top: 30px;
}

    /* .white .width-container {
        gap: 0;
    } */

.red {
    background: var(--color-red);
    padding: 0 70px;
    position: relative;
    height: 544px;
}

.blue {
    background: var(--color-chalk-blue);
    padding: 5px;
    position: relative;
    height: 380px;
    width: 100%;
    /* padding: 0 70px; */
}   

.past-events {
    padding-top: 0;
    height: auto;
}

.partners {
    padding-top: 0;
}

@media only screen and (max-width: 450px) {
    section {
        padding: 0px 0px;
        margin: 0;
        width: 450px;
    }

        section .width-container {
            width: unset;
            gap: 0px;
            padding: 0;
            margin: 0;
        }

    .white {
        width: 450px;
        margin: 0;
    }

    .red {
        height: auto;
        width: 450px;
    }

    .blue {
        height: auto;
        width: 450px;
        padding: 5px;
    }

    .div-bitmap {
        width: 450px;
    }

    .why-sponsor {
        background: white;
        width: 450px;
    }

    .faq {
        margin-bottom: 70px;
    }
}