.hero {
    background-image: url(../../img/hero.png);
    /* background-image: linear-gradient(to bottom, #0e2da9, rgba(15, 46, 169, 0)),
    url(../../img/hero.png); */
    background-size: contain;
    background-repeat: no-repeat;
    height: 900px;
}

@media only screen and (max-width: 450px) {
    .hero {
        height: 354px;
        background-size: 900px;
        max-width: 450px;
    }
}