footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 70px;
}

    .footer-left {
        display: flex;
        flex-direction: row;
        gap: 120px;
        color: var(--color-white);
        font-size: var(--font-size-medium-to-small);
        list-style: none;
        line-height: 20px;
        margin-left: 80px;
        margin-top: 30px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.44;
        letter-spacing: normal;
    }

        .footer-left span {
            text-transform: uppercase;
            font-weight: 600;
        }

            .footer-left ul {
                margin-top: 20px;
                list-style: none;
            }

                .footer-left a {
                    text-decoration: none;
                    color: var(--color-white);
                    font-size: var(--font-size-small);
                    cursor: pointer;
                }
    .footer-right {
        width: 276px;
        height: 135px;
    }
    .footer-right img {
        margin-top: 30px;
        width: 100%;
        padding-right: 70px;
    }

.footer-bottom {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 70px;
}

    .footer-bottom-icons {
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: 50px;
        padding: 0 70px;
    }

    .footer-bottom-links {
        display: flex;
        flex-direction: row;
        gap: 30px;
        font-size: var(--font-size-small);
        padding: 0 70px;
    }

        .footer-bottom-links span {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .footer-bottom-links nav {
            align-items: center;
            margin-top: 30px;
            margin-bottom: 30px;
            display: flex;
            flex-direction: row;
            gap: 30px;
        }

            .footer-bottom-links a {
                text-decoration: none;
                color: var(--color-white);
            }

            .footer-bottom-links nav img {
                margin-right: 10px;
                height: 10px;
            }

