footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 70px;
}

    .footer-left,
    .connect {
        display: flex;
        flex-direction: row;
        gap: 120px;
        color: var(--color-white);
        font-size: var(--font-size-medium-to-small);
        font-family: 'Titillium-Web', sans-serif;
        list-style: none;
        line-height: 1.44;
        margin-left: 80px;
        margin-top: 30px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.44;
        letter-spacing: normal;
    }

        .footer-left span,
        .connect {
            text-transform: uppercase;
            font-weight: 600;
        }

            .footer-left ul {
                margin-top: 20px;
                list-style: none;
            }

                .footer-left a {
                    text-decoration: none;
                    color: var(--color-white);
                    font-size: var(--font-size-small);
                    font-family: 'Titillium-Web', sans-serif;
                    cursor: pointer;
                }
    .footer-right {
        width: 276px;
        height: 135px;
    }
    .footer-right img {
        margin-top: 30px;
        width: 100%;
        padding-right: 70px;
    }

.footer-bottom {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 70px;
}

    .footer-bottom-icons {
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: 50px;
        padding: 0 70px;
    }

    .footer-bottom-links {
        display: flex;
        flex-direction: row;
        gap: 30px;
        font-size: var(--font-size-small);
        font-family: 'Titillium-Web', sans-serif;
        padding: 0 70px;
    }

        .footer-bottom-links span {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .footer-bottom-links nav {
            align-items: center;
            margin-top: 30px;
            margin-bottom: 30px;
            display: flex;
            flex-direction: row;
            gap: 30px;
        }

            .footer-bottom-links a {
                text-decoration: none;
                color: var(--color-white);
            }

            .footer-bottom-links nav img {
                margin-right: 10px;
                height: 10px;
            }

    .footer-bottom .connect,
    .footer-bottom hr {
        display: none;
    }

@media only screen and (max-width: 450px) {
    footer {
        height: auto;
        padding: 0 20px;
        display: flex;
        flex-direction: column-reverse;
    }

        .footer-right {
            width: 311px;
            height: 152px;
            margin: auto;
        }

        .footer-left {
            padding: 0 50px;
            flex-direction: column;
            width: 255px;
            height: 130px;
            margin-bottom: 400px;
            margin-top: 100px;
            margin-left: 0;
            gap: 70px;
        }

            .footer-left .right {
                margin-left: 0;
            }

    .footer-bottom {
        height: auto;
        display: flex;
        flex-direction: column;
    }

        .footer-bottom .connect,
        .footer-bottom hr {
            display: flex;
            margin-left: 0;
        }

        .footer-bottom hr {
            width: 100%;
            margin: none;
            margin-top: 20px;
            height: 1px;
            background-color: var(--color-white);
            opacity: 0.35;
            border: none;
        }

        .footer-bottom-icons {
            width: 340px;
            gap: 40px;
            padding-left: 0;
            align-items: center;
            padding-top: 20px;
        }

        .footer-bottom-links {
            flex-direction: column-reverse;
            padding: 0;
        }

    .footer-bottom-links nav {
        align-items: start;
        flex-direction: column;
        gap: 20px;
        padding-left: 0;
        margin-left: 0;
    }
}