.header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu-button {
    display: none;
}

    .header-left {
        max-width: 40%;
    }

        .header-logo-left {
            width: 276px;
        }

    .header-right {
        width: 100%;
        height: auto;
    }

        .header-right nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 70px;
            margin-right: 0;
            padding-right: 0;
            justify-content: space-evenly;
            width: auto;
    }

            .header-right a {
                text-decoration: none;
                margin: 0 10px;
                color: var(--color-white);
                font-size: var(--font-size-small);
                text-transform: uppercase;
                cursor: pointer;
                font-weight: bold;
            }

.header-blue {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-chalk-blue);
}

    .header-blue .header-logo-left {
        width: 276px;
    }
    
    .header-blue .header-right {
        width: 100%;
    }

        .header-blue .header-right a {
            text-decoration: none;
            margin: 0 5px;
            color: var(--color-white);
            font-size: var(--font-size-extra-small);
            text-transform: uppercase;
            cursor: pointer;
            font-weight: bold;
        }
            
@media (max-width: 450px) {
    header {
        display: flex;
        flex-direction: column;
    }
    
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 90px;
    }

    /* .hero .header {
        padding-bottom: 300px;
    } */

    .header .header-right nav {
        display: none;
    }

    .menu-button {
        display: block;
        border: none;
        background-color: transparent;
        color: #FFFFFF;
        margin: 0 10px;
        font-weight: bold;
        font-size: 16px;
        outline: none;
        padding-right: 10px;
        width: 400px;
        height: 72px;
    }

    .header-logo-left {
        width: 187px;
        height: 92px;
        padding-left: 20px;
    }

    .header-right {
        margin-right: 0;
    }
}